article {
  & > header,
  & > footer {
    @extend %magic-padding;
  }

  @media print {
    a::after {
      content: "«" attr(href) "»";
    }
  }
}

.content {
  & > * {
    @extend %magic-padding;
  }

  & > table {
    padding: 0;
    max-width: $pad-width;
    margin: 1rem auto;
    overflow-x: scroll;
  }
}

%parallax {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective-origin: right top;
}
%parallax__layer {
  position: relative;
  transform-origin: right top;
}
%parallax__layer--base {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
%parallax__layer--back {
  transform: translateZ(-1px) scale(2);
  -webkit-transform: translateZ(-1px) scale(2);
}

main.post {
  @extend %parallax;

  & > * {
    @extend %parallax__layer;
    @extend %parallax__layer--base;
  }

  .post-cover {
    @extend %parallax__layer;
    @extend %parallax__layer--back;
  }
}

main.post {
  @extend .flex;

  & > article {
    flex: 1 0 auto;
  }

  .tags,
  .post-meta {
    margin: 1rem 0;
  }
  .post-meta {
    color: #666;
  }
  .tag {
    color: #666;
    border: 1px gray solid;
    border-radius: 10px;
    padding: 5px;
    margin-right: 0.5rem;
    background: #fafafa;

    &::before {
      content: "#";
    }
  }

  .post-cover {
    @media print {
      display: none;
    }

    flex: 0 0 auto;
    max-height: 100%;
    min-height: 62px;
    width: 100%;
    z-index: -2;
    overflow: hidden;

    img {
      object-fit: cover;
      max-height: 80vmin;
      width: 100%;
    }
  }

  article {
    background: white;
  }
}
